footer{
    background-color: #111827;
    color: #f3f4f6;
    padding: 40px 20px !important;
    border-radius: 12px;
    flex-direction: rtl;
    margin-top: 40px;
}
.footer-top{
    text-align: center;
    margin-bottom: 30px;
}
.footer-logo{
    font-size: 1.6rem;
    font-weight: 700;
    color: #60a5fa;
}
.footer-desc{
    margin-top: 10px;
    font-size: 0.95rem;
    color: #d1d5db;
}
.footer-link{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.footer-link h3{
    margin-top: 10px;
    font-size: 15px;
    color: #93c5fd;
}
.footer-link ul{
  list-style: none;
  padding: 0 !important;

}
.footer-link a{
    color: #93c5fd;
    text-decoration: none;
    font-size: 15px;
}
.footer-link a:hover{
    color: #9ca3af;
}
.footer-btn{
    text-align: center;
}